.footer{
    background-color: #222222; 
    height: 200px;
    width:100%;
    margin: 0px;
}

.footer p{
    color: white;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    text-align: center;
    padding-top: 20px;
}

